.all {
    background-color: #141822 !important; 
    color: #778db0 !important;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mar {
    margin-top: 1.2rem;
    margin-bottom: .6rem;
}

.tf {
    height: 8rem;
}

.rf {
    width: 100%; 
    display: flex; 
    justify-content:flex-end; 
    flex-direction: row;
}

.lf {
    width: 100%; 
    display: flex; 
    justify-content:flex-start; 
    flex-direction: row;
}

.bc {
    background-color: #6680E3;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content-width {
    width: 80%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content-width {
    width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content-width {
    width: 80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content-width {
    width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content-width {
        width: 50%;
    }
}

.title {
    font-size: xx-large;
    margin: .5rem;
    margin-left: -5px;
    border-bottom: 2px solid #4f607b;
    border-radius: 5px;
    padding-left: 5px;
}

.header {
    margin-left: .2rem;
    font-size: 3.2rem;
    margin-top: .8rem;
    margin-bottom: .8rem;
    font-weight: 500;
}

a {
    text-decoration: none !important;
}

.ps {
    margin-bottom: 0;
}

.toggle-list {
    background-color: #141822 !important; 
    color: #778db0 !important;
    border: .4px solid #778db0 !important;
    border-radius: 5px;
}