<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>幹文 GanWen</title>
    <link rel="stylesheet" href="../static/css/gan.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script type="text/javascript" src="../static/js/gan.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body class="all">
    <nav class="navbar sticky-top navbar-dark shadow-5-strong" style="background: rgba(183, 185, 246, 0.05); backdrop-filter: blur(3px);">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://ganwenapi.herokuapp.com/gan" style="display: flex; align-items:center;">
                <img src="../static/img/logo2.png" alt="" width="50" height="53" class="d-inline-block align-text-top" style="margin: 0; padding: 0;">
                <span style="color: #fefefe; font-size: xx-large;" style="display: inline-block;">
                    ⠀幹文 GanWen
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav main">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://ganwenapi.herokuapp.com/gan">
                            幹文生成器
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ganwenapi.herokuapp.com/tutorial">
                            使用教學
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ganwenapi.herokuapp.com/what">
                            這是什麼梗
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ganwenapi.herokuapp.com/api">
                            API
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ganwenapi.herokuapp.com/about">
                            關於
                        </a>
                    </li>
                </ul>
            </div>
            <!-- <a href="https://github.com/ruby0322" target="_blank" style="text-decoration: none;">
                @ruby0322
            </a> -->
        </div>
    </nav>
    <div class="main">
        <div style="display: flex; align-items:center; margin-left: -30px;">
            <img src="../static/img/logo3.png" alt="" width="75" height="75" class="d-inline-block align-text-top" style="margin: 0; padding: 0;">
            <span class="header">
                幹文生成器
            </span>
        </div>
        <div class="content-width mar">
            <h3 style="text-align: left;">
                為文字段落加入幹元素
            </h3>
            <h6>
                〔字數上限：850 字〕
            </h6>
        </div>
        <div class="content-width" class="mar">
            <textarea maxlength="850" type="text" class="form-control tf" id="input" placeholder="「正經的文字段落」" style="outline: none; background-color: #06070A; color: #FFFFFF; border-style: none; border-color: Transparent; resize: none;">這段日子以來，我一直想對你說三個字，但又怕說了連普通朋友也做不成，可我控制不住，還是想說：「借點錢！」</textarea>
            
            <div class="rf mar">
                <button class="btn btn-outline-primary" type="button" onclick="resetInput();" style="margin-right: .5rem;">清除</button>
                <button class="btn btn-outline-primary" type="button" onclick="randWiki();" style="margin-right: .5rem;">隨機</button>
                <button class="btn btn-outline-primary" type="button" onclick="convert();">加入幹元素</button>
            </div>
            
        </div>
        <div class="content-width">
            <h6>
                〔傳給朋友，或留言在朋友貼文下方，煩死他們😂😎〕
            </h6>
        </div>
        <div class="content-width" class="mar">

            <div class="input-group mb-3 mar">
                <textarea class="form-control tf" type="text" value="這段日子以來 peace 我一直想對你說三個字 skrskr🤙🤙 但又怕說了連普通朋友也做不成🤙🤙🤙🤙可我控制不住💦💦💪💪還是想說：「借點錢 笑死😂😂 」" id="output" style="outline: none; background-color: #06070A; color: #FFFFFF; border-style: none; border-color: Transparent; resize: none;" readonly>這段日子以來 peace 我一直想對你說三個字 skrskr🤙🤙 但又怕說了連普通朋友也做不成🤙🤙🤙🤙可我控制不住💦💦💪💪還是想說：「借點錢 笑死😂😂 」</textarea>
                <button class="btn btn-outline-primary" type="button" onclick="copy();">複製</button>
            </div>
        </div>
        <br>
        <div class="content-width" class="lf mar">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="gan1-tab" data-bs-toggle="pill" data-bs-target="#gan1" type="button" role="tab" aria-controls="pills-home" aria-selected="true">需要範例？</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="what-tab" data-bs-toggle="pill" data-bs-target="#what" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">這是什麼梗？</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent" style="height: 4rem;">
                <div class="tab-pane fade show active" id="gan1" role="tabpanel" aria-labelledby="gan1-tab">
                    請參考 <a href="https://ganwenapi.herokuapp.com/what">這是什麼梗</a> 頁面。
                    <br>
                    〔註：請點擊連結或右上角選單下拉切換頁面。〕
                </div>
                <div class="tab-pane fade" id="what" role="tabpanel" aria-labelledby="what-tab">
                    請參考 <a href="https://ganwenapi.herokuapp.com/what">這是什麼梗</a> 頁面。
                    <br>
                    〔註：請點擊連結或右上角選單下拉切換頁面。〕
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>